.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cta-button {
  background-color: #4CAF50; /* Green background */
  color: white;              /* White text */
  padding: 15px 30px;        /* Button padding */
  font-size: 18px;           /* Font size */
  font-weight: bold;         /* Bold text */
  border: none;              /* No border */
  border-radius: 8px;        /* Rounded corners */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.cta-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.read-more-button {
  background-color: #4CAF50; /* Green background */
  color: white;              /* White text */
  padding: 15px 30px;        /* Button padding */
  font-size: 18px;           /* Font size */
  font-weight: bold;         /* Bold text */
  border: none;              /* No border */
  border-radius: 8px;        /* Rounded corners */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.read-more-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
